---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}
{% assign index_bg = site.data.skin.index.bg  | default: 'gray-2' %}

<main class="my-4">
      <div class="container px-5 py-3 bg-{{ index_bg }} rounded">
            <div class="staff-profile">
                  <h3 class="display-4" id="title">{{ page.title }}</h3>
                  <div class="staff-profile-info">
                        <div class="staff-avatar-container">
                              <img src="{{ page.avatar }}">
                        </div>
                        <div class="staff-profile-info-details">
                              Rank: {{ page.rank }}<br>
                              Email: {{ page.email }}<br>
                              Telephone: {{ page.telephone }}<br>
                              Website: {{ page.website }}<br>
                        </div>

                  </div>

            </div>
      </div>
</main>

<main class="my-4">
      <div class="container px-5 py-3 bg-{{ index_bg }} rounded">
            <div class="staff-profile-bio">
                  <h2 class="display-6">Biographical Information</h2>
                  {{ page.bio | newline_to_br}}
            </div>
      </div>
</main>

<main class="my-4">
      <div class="container px-5 py-3 bg-{{ index_bg }} rounded">
            <div class="staff-profile-bio">
                  <h2 class="display-6">Publications</h2>

                  <canvas id="chart" width="500px">
                  </canvas>
                  <script>
                        function publsPerYear(total_publs) {
                              let yearPubls = [] ;
                              total_publs.forEach(publ => {
                                    if ( yearPubls.some( item => item.year === publ["year"] ) ) {
                                          let index = yearPubls.findIndex( item => item.year === publ["year"] ) ;
                                          yearPubls[index]["count"]++ ;

                                    } else {
                                          yearPubls.push({year: publ["year"], count: 1 })
                                    }
                              });
                              return yearPubls;
                        }


                        // Find the index that indicates the author's publications
                        function findAuthor(jsonData) {
                              // jsonData[i][0][0]["author_name"], change the i == change the author
                              let author_name = document.getElementById("title").innerText;
                              for (let i=0; i<jsonData.length; i++) {
                                    if (jsonData[i][0][0]["author_name"] === author_name) {
                                          return i;
                                    }
                              }
                        }


                        function fetchFileData() {
                              fetch('../../assets/publications.json')
                                    .then(response => {
                                          // Check if the request was successful
                                          if (!response.ok) {
                                          throw new Error('Network response was not ok ' + response.statusText);
                                          }
                                          return response.json();
                                    })
                                    .then(data => {
                                          index = findAuthor(data) ;
                                          let authors_data, stats; // We are gonna work with one author for now
                                          console.log("Reading was successful!");
                                          // change the first index to change the author
                                          authors_data = data[index][1]; // Publications 
                                          stats = publsPerYear(authors_data);
                                          stats.sort((a, b) => a.year - b.year);

                                          new Chart( document.getElementById("chart"), {
                                                      type: 'bar',
                                                      data: {
                                                            labels: stats.map(row => row.year),
                                                            datasets: [ {
                                                                  label: 'Publications per year',
                                                                  data: stats.map(row => row.count)
                                                            }]
                                                      }
                                                }
                                          );
                                          

                                          let maxNumPubls = findMax(stats);
                                          const BAR_HEIGHT = 60; // in px
                                          let heightPerEachPud = BAR_HEIGHT / maxNumPubls;
                                          heightPerEachPud = `${String(heightPerEachPud)}px`
                                          
                                    })
                                    .catch(error => {
                                          console.error('Error fetching file:', error);
                                    });
                        }

                        fetchFileData();
                        const chart = document.getElementById('chart').getContext('2d');

                        const data = [
                        { year: 2010, count: 10 },
                        { year: 2011, count: 20 },
                        { year: 2012, count: 15 },
                        { year: 2013, count: 25 },
                        { year: 2014, count: 22 },
                        { year: 2015, count: 30 },
                        { year: 2016, count: 28 },
                        ];
                        

                        

                    </script>
                  
                  <table class="publications-container">
                        <thead>
                              <tr>
                                    <th>Year</th>
                                    <th>Type</th>
                                    <th>Publication</th>
                              </tr>
                        </thead>
                        <tbody>
                              {% for author in site.data.publications %}
                                    {% assign author_details = author[0][0] %}
                                    {% if author_details.author_name == page.title %}
                                          <script>
                                                var counter = 0;
                                          </script>
                                          {% assign articles = author[1] %}
                                          {% for article in articles %}
                                                <tr class="publication">
                                                      <td class="publication-year">
                                                            {{ article.year}}
                                                      </td>
                                                      <td class="publication-type">
                                                      {% assign publication_type = article.publication | downcase %}
                                                      {% assign type_journal = "journal" %}
                                                      {% assign type_conference = "conference" %}
                                                      {% if publication_type contains type_journal %}
                                                            Journal
                                                      {% elsif publication_type contains type_conference%}
                                                            Conference
                                                      {% else %}
                                                            Other
                                                      {% endif %}
                                                      </td>
                                                      <td class="publication-title">
                                                            {{ article.authors }}. {{ article.title }}. <i>{{ article.publication }}</i>
                                                      </td>
                                                </tr>
                                          {% endfor %}
                                          <script>
                                                var tRows = document.querySelectorAll(".publication");
                                                tRows.forEach(tRow => {
                                                      counter++;
                                                      if (counter%2 == 0) {
                                                            tRow.classList.add("even");
                                                      } else {
                                                            tRow.classList.add("odd");
                                                      }
                                                });
                                                
                                          </script>
                                    {% endif %}
                              {% endfor %}
                              
                        </tbody>
                  </table>
            </div>
      </div>
</main>
      
  
{% include footer.html %}

