// NAVIGATION BAR
#navigation {
      justify-content: right;
}

.navbar > .navbar-brand > .navbar-logo {
      width: 100px;
}

.navbar {
      height: 5rem;
}

.nav-link {
      text-transform: uppercase;
}

.nav-link:hover, .active {
      color: #1b4377 !important;
      text-decoration: underline;
}

.staff-list {
      margin-top: 3rem;
      list-style: none;
      text-align: center;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
}

.staff-list li {
      margin-bottom: 1.5rem;
      width: 30%;
      height: 30%;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #000;
}

.staff-list li:hover .staff-name-container .staff-name a,
.staff-list li:hover {
      color: #1b4377;
}

.staff-list li .staff-avatar-container {
      width: 200px;
      height: 200px;
      background-color: #f8f9fa;
}

.staff-list li .staff-avatar-container img {
      width: 200px;
      height: 200px;
      object-fit: contain;
}

.staff-list li .staff-name-container {
      margin-top: 0.5rem;
      min-height: 67.2px;
      display: flex;
      align-items: center;
}

.staff-list li .staff-name-container .staff-name {
      text-align: center;
}

.staff-list li .staff-name-container .staff-name a {
      color: #000;
}

.staff-list li .staff-name-container .staff-name a:hover {
      text-decoration: underline;
}

/* X-Small devices (portrait phones, less than 576px) AND Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px){
      .staff-list {
            flex-direction: column;
            align-items: center;
      }
}

/* Medium devices (tablets, 768px and up) 
@media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */

/* X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */

/* STAFF PROFILE STYLING */

.staff-profile .staff-profile-info {
      display: flex;
}

.staff-profile .staff-profile-info .staff-profile-info-details {
      margin-left: 5rem;
}

.staff-profile .staff-profile-info .staff-avatar-container {
      width: 300px;
      height: 300px;
      background-color: #f8f9fa;
}

.staff-profile .staff-profile-info .staff-avatar-container img {
      width: 300px;
      height: 300px;
      object-fit: contain;
}



// AUTHOR'S PUBLICATIONS LIST
// for page _layouts/profile.html
.publications-container > tbody > .publication > td {
   padding: 3px 10px;
}

.publications-container > thead {
      text-align: center;
}

.publications-container > thead > th {
      text-align: center;
      padding: 3px 18px 3px 10px;
}

.odd {
      background-color: #fff;
}




// HOME PAGE
.title-container {
      width: 90%;
      margin: auto;
      padding-top: 10rem;
}

.title-container > .paralax-container {
      margin: 1rem 0;
}

.title-container > .paralax-container > h1 {
      font-size: 5rem;
      width: fit-content;
      background-color: purple;
}

.title-container > #amp.paralax-container {
      padding-left: 20rem;
}
 

.title-container > #databases.paralax-container {
      padding-left: 6rem;
}



.rounded {
      color: #fff
}


// CONTACT PAGE
.contact-info {
      margin: 2rem 0;
}