:root {
      --element-width: 1320px; /* Adjust the width of the element as needed */
}
    

// GENERAL
body {
      background-color: #fff;
      color: #000;
}

// NAVIGATION BAR
header {
      background-color: #fff;
}

#navigation {
      justify-content: right;
}

.navbar-expand-sm .navbar-nav .nav-link {
      padding: 0 1rem;
}

.navbar > .navbar-brand > .navbar-logo {
      width: 100px;
}

.navbar {
      height: 5rem;
}

.nav-link {
      text-transform: uppercase;
      transition: 0.2s ease-in;
}

.nav-link:hover, .active {
      color: #1b4377 !important;
      text-decoration: underline;
}


// STAFF PAGE STYLES
.staff-buttons-container {
      list-style: none;
      display: flex;
      justify-content: space-between;
}

.staff-buttons-container > .staff-button > li:hover {
      color: white;
      background-color: #1b4377;
}

.staff-buttons-container > .staff-button > li {
      outline: #1b4377 3px solid;
      font-weight: 600;
      padding: 0rem 2rem;
      color: #1b4377;
      transition: 0.2s ease-in;
}

.staff-list {
      margin-top: 3rem;
      list-style: none;
      text-align: center;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
}

.staff-list li {
      margin-bottom: 1.5rem;
      width: 30%;
      height: 30%;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #000;
}

.staff-list li:hover .staff-name-container .staff-name a,
.staff-list li:hover {
      color: #1b4377;
}

.staff-list li .staff-avatar-container {
      width: 200px;
      height: 200px;
      background-color: #f8f9fa;
}

.staff-list li .staff-avatar-container img {
      width: 200px;
      height: 200px;
      object-fit: contain;
}

.staff-list li .staff-name-container {
      margin-top: 0.5rem;
      min-height: 67.2px;
      display: flex;
      align-items: center;
}

.staff-list li .staff-name-container .staff-name {
      text-align: center;
}

.staff-list li .staff-name-container .staff-name a {
      color: #000;
}

.staff-list li .staff-name-container .staff-name a:hover {
      text-decoration: underline;
}

/* X-Small devices (portrait phones, less than 576px) AND Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px){
      .staff-list {
            flex-direction: column;
            align-items: center;
      }
}

/* Medium devices (tablets, 768px and up) 
@media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */

/* X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */

/* STAFF PROFILE STYLING */
.staff-profile-container {
      color: #fff;
}

.staff-profile .staff-profile-info {
      display: flex;
}

.staff-profile .staff-profile-info .staff-profile-info-details {
      margin-left: 5rem;
      line-height: 3rem;
}

.staff-profile .staff-profile-info .staff-avatar-container {
      width: 300px;
      height: 300px;
      background-color: #f8f9fa;
}

.staff-profile .staff-profile-info .staff-avatar-container img {
      width: 300px;
      height: 300px;
      object-fit: contain;
}



// AUTHOR'S PUBLICATIONS LIST
// for page _layouts/profile.html
.publications-container > tbody > .publication > td {
   padding: 3px 10px;
}

.publications-container > thead {
      text-align: center;
}

.publications-container > thead > th {
      text-align: center;
      padding: 3px 18px 3px 10px;
}

.odd {
      background-color: #fff;
}




// HOME PAGE
.homepage-content {
      background-color: white;
      margin-top: 0 !important;
}

.homepage-container canvas {
      width: 100%;
}

.title-container {
      width: 90%;
      margin: auto;
      padding-top: 10rem;
      position: absolute;
      top: 10rem;
      left: 10rem;
}

.title-container > .paralax-container {
      margin: 1rem 0;
}

.title-container > .paralax-container > h1 {
      font-size: 5rem;
      width: fit-content;
      background-image: url("/assets/images/title_bg.jpg");
      color: white;
}

.title-container > #amp.paralax-container {
      padding-left: 20rem;
}
 

.title-container > #databases.paralax-container {
      padding-left: 6rem;
}


// RESEARCH AREAS
.research-area-container .research-area-info {
      display: flex;
}

.research-area-container .research-area-info p {
      flex: 2 1 auto;
}

// CONTACT PAGE
#waveAnimationBG {
      position: absolute;
      filter: grayscale(90%);
}

.contact-info {
      margin: 2rem 0;
}


// FOOTER SECTION
footer {
      display: flex;
      justify-content: space-between;
}
