---
layout: default
title: Contant
description:
navorder: 6
---

{% include metadata.liquid %}
{% include header.html %}
{% assign index_bg = site.data.skin.index.bg  | default: 'gray-2' %}

<main class="my-4">
    <div class="container">
        <h1 class="display-5 theme-color">{{ title }}</h1>
        For inquiries or collaborations regarding our research in Information Systems and Databases, please contact us. We value your communication and will respond promptly.
        <hr>
        <div class="contact-info">
            ISD Lab<br>
            Tsirigoti Square 7<br>
            49100, Corfu, Greece<br>
            Tel: +30 26610 87869 | +30 26610 87768<br>
            Email: isdlab@ionio.gr
        </div>    
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6659.059281702919!2d19.911452861601113!3d39.616689438838016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135b5dd9c2a6c193%3A0xc06c8f763f24ce59!2sDepartment%20of%20Informatics%20-%20Ionian%20University!5e0!3m2!1sen!2sgr!4v1714988992121!5m2!1sen!2sgr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</main>

{% include footer.html %}

<script type="module" src="/assets/js/threeD.js"></script>
